# Creating a dataframe of players

In [2]:
# Setup stuff
import json
import pandas as pd

In [3]:
def create_df_of_players(path_to_player_list):
    """Returns a dataframe of players, if given a roster.json"""

    # Load the JSON data from a file
    with open(path_to_player_list) as f:
        data = json.load(f)

    # Create the dataframe
    df_players = pd.json_normalize(data)

    return df_players

In [4]:
path_to_player_list = r"E:\Documents\Repos\PythonPortfolio-1\NFL_Thing\data\roster.json"

df_players = create_df_of_players(path_to_player_list)

In [5]:
df_players.head(10)

        id team position          fullName
0  3915373  ATL        S   Micah Abernathy
1  4401823  ATL       CB        Dee Alford
2  4259976  ATL       WR          Josh Ali
3  4373626  ATL       RB    Tyler Allgeier
4  4035660  ATL       LB      Bradlee Anae
5  4247807  ATL       LB     Troy Andersen
6  3924352  ATL       OT       Zack Bailey
7  3919512  ATL        S  Jessie Bates III
8  4568510  ATL        G  Matthew Bergeron
9  4428872  ATL       LB       JD Bertrand

In [22]:
players_whos_name_match = df_players[df_players["fullName"].str.contains("Purdy")]
print(players_whos_name_match)

           id team position     fullName
1660  4361741   SF       QB  Brock Purdy